*{
    margin: 0;
    padding: 0;
    ;
}

body{
    background: linear-gradient( 45deg, darkred, black);
    font-family: Verdana, sans-serif;
}
  img {border-radius: 20px;
     width: 320px; 
     height: 320px; 
     border: 5px solid darkred, black;
    }
  h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
  }
  p {
    color: white;
    margin-top: 15px;
  }
  ul {margin-top: 35px;
    list-style: none;
}
li {
    margin-bottom: 18px;
}
a{
    background-color: darkred;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
a:hover {background-color: white;
    color: black

}
.container {
   width: 320px;
   text-align: center;
   margin-top: 41px;
   margin-left: auto;
   margin-right: auto;
}
    